openapi: 3.0.0
info:
  title: Data Export Spring Configurations
  version: v1
servers:
  - url: https://localhost/data-export-spring/
paths:
  /configs:
    get:
      parameters:
        - $ref: "#/components/parameters/trait_queryable_query"
        - $ref: "#/components/parameters/trait_pageable_limit"
      description: Get a list of data export configurations
      operationId: getExportConfigs
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/exportConfigCollection"
        '500':
          description: Internal server errors, e.g. due to misconfiguration
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
    post:
      description: Add an export configuration
      operationId: postExportConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/exportConfig"
        required: true
      parameters:
        - name: X-Okapi-Tenant
          in: header
          required: true
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: good
        '400':
          description: Bad request
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
        '500':
          description: Internal server errors, e.g. due to misconfiguration
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
  /configs/{id}:
    get:
      description: Get a export configuration by the export configuration ID
      operationId: getConfigById
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the export configuration
          schema:
            type: string
      responses:
        "200":
          description: Export configuration successfully retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/exportConfig"
        "400":
          description:
            Bad request, e.g. malformed request body or query parameter.
            Details of the errors (e.g. name of the parameter or line/character number
            with malformed data) provided in the response.
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
        "404":
          description: Export configuration with a given ID not found
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
        "500":
          description: Internal server errors, e.g. due to misconfiguration
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
    put:
      description: Change an export configuration
      operationId: putExportConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/exportConfig"
        required: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: X-Okapi-Tenant
          in: header
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
        '404':
          description: Export config not found
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
        '500':
          description: Internal server errors, e.g. due to misconfiguration
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
    delete:
      description: Delete export configuration by UUID
      operationId: deleteExportConfigById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
        '404':
          description: Export config not found
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
        '500':
          description: Internal server errors, e.g. due to misconfiguration
          content:
            application/json:
              example:
                $ref: "#/components/examples/errors"
              schema:
                $ref: "#/components/schemas/errors"
components:
  schemas:
    exportConfig:
      $ref: '../../../../folio-export-common/schemas/exportConfig.json#/ExportConfig'
    exportConfigCollection:
      $ref: '../../../../folio-export-common/schemas/exportConfigCollection.json#/ExportConfigCollection'
    errors:
      $ref: '../../../../folio-export-common/schemas/common/errors.json#/Errors'
  parameters:
    trait_queryable_query:
      name: query
      in: query
      description: A query string to filter rules based on matching criteria in fields.
      schema:
        type: string
    trait_pageable_limit:
      name: limit
      in: query
      description: Limit the number of elements returned in the response
      schema:
        default: 10
        type: integer
  examples:
    errors:
      value:
        $ref: '../../../../folio-export-common/examples/errors.sample'
